Different handling of a wonky Content-Length

Given an (incorrect) Content-Length of: 10, 10
leads to a warning of the form:

Argument "10, 10" isn't numeric in numeric gt (>) at /usr/share/perl5/Stream/Buffered.pm line 26.
Argument "10, 10" isn't numeric in numeric gt (>) at /usr/share/perl5/HTTP/Server/PSGI.pm line 152

I'm wondering if that should be handled differently, for example returning a 400 or 411?

Here is some example code to demonstrate the warning:
https://gist.github.com/mateu/c08f6084c8d1516166b6





This discussion looks relevant: http://trac.tools.ietf.org/wg/httpbis/trac/ticket/95

Because PSGI spec requires [CONTENT_LENGTH env var to be an integer](https://metacpan.org/pod/PSGI#The-Environment), I think the parser needs to either reject it or normalize it. 

Because most of the HTTP header parsing into a PSGI env is done inside the library, I bet it has to be done in there (i.e. HTTP::Parser::XS) if we want to do it.

I remember we discussed something similar before, whether the parser needs to be more strict on HTTP's semantics not just syntaxes, but not sure what field it was about. cc @kazuho 



As @oschwald pointed out, how the situation should be handled has been clarified in [RFC 7230 Section 3.2.2](http://tools.ietf.org/html/rfc7230#section-3.3.2):
> If a message is received that has multiple Content-Length header fields with field-values consisting of the same decimal value, or a single Content-Length header field with a field value containing a list of identical decimal values (e.g., "Content-Length: 42, 42"), indicating that duplicate Content-Length header fields have been generated or combined by an upstream message processor, then the recipient MUST either reject the message as invalid or replace the duplicated field-values with a single valid Content-Length field containing that decimal value prior to determining the message body length or forwarding the message.

So to me it seems that:

* Plack-compliant servers _must_ either reject a request with an `Content-Length` header containing `,`, or rewrite `Content-Length` header containing multiple, identical values to a single value (e.g. rewrite `Content-Length: 10,10` to `Content-Length: 10`)
* Plack applications need not handle `Content-Length` header containing `,`

considering the facts that a) the discussion is about how far we should to rescue broken requests, and b) IIRC it is mandatory for Plack-based servers to evaluate and take actions based on the `Content-Length`.

Also related: https://github.com/plack/psgi-specs/issues/37

It isn't strictly identical, but similar in that if/how the servers should handle broken HTTP requests.

Would it be appropriate then to open an issue for Starman or HTTP::Parser::XS to handle this?

Here's a way to handle duplicate content-length on the Perl side of things: https://github.com/maxmind/Plack/commit/b918abc926e9a7212f6ebfcaca9d414b4d598436

FYI, as the author of HTTP::Parser::XS I suggest that the feature should be implemented within each server (not in HTTP::Parser::XS).

The responsibility of HTTP::Parser::XS is to tokenize HTTP requests / responses.  It is the callers' responsibility to semantically handle the values.

Maybe something along these lines then: https://gist.github.com/mateu/1159a3f257fc5cf75530